<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jk.dao.Echartsdao">

  <select  id="echarts" resultType="com.jk.model.Course">

   select  *  from  t_course a  GROUP BY  a.coursename

  </select>

    <select  id="chaxliu" resultType="com.jk.model.Liu">

  select liuid , substring(syllabusid,1,4) as syllabusid ,SUM(shulian) as shulian   from  t_liu  GROUP BY   substring(syllabusid,1,4)

    </select>
    <select  id="chaxliuyue" resultType="com.jk.model.Liu">

select   substring(syllabusid,6,2) as syllabusid ,SUM(shulian) as shulian  from t_liu  where  substring(syllabusid,1,4)=#{name} GROUP BY   substring(syllabusid,6,2)
    </select>
    <insert id="addliulist"  parameterType="com.jk.model.Liu">

insert into  t_liu  values (#{liuid},#{syllabusid},#{shulian})
    </insert>
    <select  id="chaxxiaxia" resultType="com.jk.model.Xia">

        select id , substring(xiadata,1,4) as xiadata ,SUM(shulian) as shulian   from  t_xia  GROUP BY   substring(xiadata,1,4)

    </select>
    <select  id="zhexianxia" resultType="com.jk.model.Xia">

        select   substring(xiadata,6,2) as xiadata ,SUM(shulian) as shulian  from t_xia  where  substring(xiadata,1,4)=#{name} GROUP BY   substring(xiadata,6,2)
    </select>
    <select  id="querylogin" resultType="com.jk.model.People">

        select  *  from t_people  where  email=#{name} or phone=#{name}
    </select>
    <select  id="register" resultType="com.jk.model.People">

        select  *  from  t_people  where  email=#{name} or phone=#{phoe}

    </select>
    <insert id="addregister"  parameterType="com.jk.model.People">

        insert into  t_people (email,phone,peoplepass)  values (#{email},#{phone},#{peoplepass})
    </insert>

  <select  id="listuser" resultType="com.jk.model.People">

    select  *  from t_people  where peopleid=#{userid}
  </select>
    <update id="uolistuser"  parameterType="com.jk.model.People">

     UPDATE   t_people  SET    peoplenickname=#{peoplenickname}, peoplesex=#{peoplesex} ,peopleage=#{peopleage} WHERE  peopleid=#{peopleid}
    </update>
    <update id="upuserpass" parameterType="com.jk.model.People">

        UPDATE   t_people  SET  peoplepass=#{peoplepass} WHERE  peopleid=#{peopleid}
    </update>

</mapper>