<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jk.dao.UserDao">

  <select  id="listuser" resultType="com.jk.model.User">
  
     select  *  from  t_user
  
  </select>



    <select id="loginUser"   resultType="com.jk.model.User">

        select * from t_user  where username =#{username}

    </select>



  <!--  <delete id="deleteXin">
        delete from xinwen  where  xid =#{xid}
    </delete>



    <select id="huixianXin" resultType="com.baidu.model.XinWen">

        select * from xinwen where xid = #{xid}

    </select>


-->
<!-- <update id="updateuser">

        update t_user set username=#{username},usertime=#{usertime},userdh=#{userdh},userdz=#{userdz}  where  userid=#{userid}

     </update>


    <select id="queuser" resultType="com.jk.model.User">

        select * from t_user where userid = #{userid}

    </select>-->
</mapper>